### Ignorar archivos de compilación y directorios generados por Maven ###
target/
!mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Ignorar archivos generados por IDEs ###

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Eclipse ###
.metadata/
bin/
tmp/

### Gradle Build ###
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Ignorar configuraciones de VS Code ###
.vscode/

### Ignorar archivos innecesarios del sistema operativo ###
.DS_Store
Thumbs.db
*.bak
*.swp
*.swo

### Ignorar archivos de entorno y logs ###
.env
*.log
hs_err_pid*
